body {
	min-width: 1180px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.hidden {
	display: none;
}
button {
	height: 26px;
	border-radius: 5px;
	border-color: #DBDBDB;
	border-style: solid;
	background: #FFFFFF;
	color: #747575;
	cursor: pointer;
}
table {
	border-collapse: collapse;
}
#gameName {
	display: inline-block;
	height: 20px;
	width: 115px;
	font-size: 0.8rem;
}
.warning-message {
	color: #FF0000;
	font-style: italic;
}
.create-game {
	display: inline-block;
	width: 75px;
	padding: 1px;
	border-radius: 0 5px 5px 0;
	margin-left: -4px;
	margin-top: 1px;
	border-color: #218001;
	border-style: solid;
	background: #29A300;
	color: #FFFFFF;
}
.show-gamelist {
	position: absolute;
	top: 10px;
	left: 10px;
	cursor: pointer;
	color: #736E6D;
	font-size: 2rem;
}
.game-list-box {
	position: fixed;
	z-index: 5;
	left: 0;
	top: 0;
	width: 200px;
	height: 100vh;
	background: #C2C2C2;
	overflow-y: auto;
}
.label {
	font-weight: bold;
}
.game-link {
	cursor: pointer;
}
.game-user {
	margin-left: 30px;
	cursor: default;
	font-size: 0.8rem
}
.pic {
	display: inline-block;
	padding-right: 10px;
}
.board-box {
	width: 730px;
	margin: 0 auto;
	cursor: default;
	padding-left: 200px;
	padding-right: 250px;
}
.board {
	margin-top: 50px;
	min-width: 710px;
	font-size: 30px;
	font-weight: bold;
}
.board-row:nth-child(odd) > .board-cell:nth-child(odd), .board-row:nth-child(even) > .board-cell:nth-child(even) {
	background: #736E6D;
}
.board-num {
	text-align: center;
	min-width: 60px;
	min-height: 60px;
}
.board-cell {
	border: 1px solid #736E6D;
	padding: 0;
	width: 80px;
	height: 80px;
	font-size: 60px;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	position: relative;
}
.board-cell.active {
	background-color: red;
}
.chess-symbol {
	width: 100%;
	height: 100%;
	z-index: 10;
}
.possible-move {
	position: relative;
}
.possible-move:after {
	content: " ";
	z-index: 10;
	display: block;
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	background: rgba(0, 255, 0, 0.2);
}
.possible-captures:after {
	content: " ";
	z-index: 10;
	display: block;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	background: rgba(255, 0, 0, 0.2);
}
.move-message {
	color: green;
	font-weight: bold;
	font-size: 1.2rem;
	height: 20px;
}
.status-board-box {
	position: fixed;
	z-index: 5;
	right: 0;
	top: 0;
	width: 250px;
	height: 100vh;
	background: #C2C2C2;
	padding-left: 15px;
	overflow-y: auto;
}
.game-label {
	font-size: 1.5rem;
	font-weight: bold;
}
.line {
	width: 250px;
	height: 2px;
	background: #000000;
	margin: 20px 0;
}
.status-board-cell {
	border: 1px solid #736E6D;
	padding: 0;
	width: 100px;
	height: 20px;
	text-align: center;
	vertical-align: middle;
	position: relative;
}
.cell-num {
	width: 30px;
}
.cell-black {
	border: 1px solid #736E6D;
	background: #000000;
	color: #FFFFFF;
}