.hidden {
	display: none;
}
button {
	height: 25px;
	border-radius: 5px;
	border-color: #DBDBDB;
	border-style: solid;
	background: #FFFFFF;
	color: #747575;
	cursor: pointer;
}
.button-create {
	border-color: #218001;
	border-style: solid;
	background: #29A300;
	color: #FFFFFF;
}
.board-box {
	height: 98vh;
	padding-left: 50px;
	display: flex;
	flex-direction: column;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.show-gamelist {
	position: absolute;
	top: 10px;
	left: 10px;
	cursor: pointer;
	color: #736E6D;
	font-size: 2rem;
}
.game-list-box {
	position: fixed;
	z-index: 5;
	left: 0;
	top: 0;
	width: 200px;
	height: 100vh;
	background: #C2C2C2;
}
.show-popup {
	margin: 5px;
}
.label {
	font-weight: bold;
}
.game-link {
	cursor: pointer;
}
.game-user {
	margin-left: 30px;
	cursor: default;
	font-size: 0.7rem
}
.pic {
	display: inline-block;
	padding-right: 10px;
}
.board {
	min-width: 710px;
	font-size: 30px;
	font-weight: bold;
	border-collapse: collapse;
}
.board-row:nth-child(odd) > .board-cell:nth-child(odd), .board-row:nth-child(even) > .board-cell:nth-child(even) {
	background: #736E6D;
}
.board-num {
	text-align: center;
	min-width: 60px;
	min-height: 60px;
}
.board-cell {
	border: 1px solid #736E6D;
	padding: 0;
	width: 80px;
	height: 80px;
	font-size: 60px;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	position: relative;
}
.board-cell.active {
	background-color: red;
}
.possible-move {
	position: relative;
}
.possible-move:after {
	content: " ";
	z-index: 10;
	display: block;
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	background: rgba(0, 255, 0, 0.2);
}
.chess-symbol {
	width: 100%;
	height: 100%;
	z-index: 10;
}
.status-box {
	margin: 30px;
}
.move-message {
	color: green;
	font-weight: bold;
	font-size: 1.2rem;
}
.status-board {
	width: 220px;
	height: 250px;
	padding: 15px;
	background: #C2C2C2;
}
.create-game-popup {
	position: absolute;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	background: rgba(104, 104, 104, 0.8);
}
.popup-box {
	position: relative;
	margin: 0 auto;
	top: 30vh;
	padding: 20px;
	width: 300px;
	height: 110px;
	background: #FFFFFF;
	border-radius: 10px;
	z-index: 15;
}
.popup-title {
	margin-bottom: 10px;
	border-bottom: 1px solid #000000;
	font-weight: bold;
}
.close {
	position: absolute;
	top: 3px;
	right: 5px;
	font-size: 2.5rem;
	cursor: pointer;
}
#gameName {
	height: 20px;
	font-size: 0.8rem;
}
.warning-message {
	color: #FF0000;
	font-style: italic;
}
.create-game {
	position: absolute;
	right: 25px;
	bottom: 25px;
}